@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&display=swap');


.App{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    background-color: hsl(212, 45%, 89%) ;
}

.flex-container{
    flex-direction: column;
    height:400px;
    width:295px;
    border-radius: 5%;
    display:flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 160px;
    background-color: hsl(0, 0%, 100%);
    
}


.image{
    height:224px;
    width:260px;
    margin-bottom: 20px;
    border-radius:5%;
    
}

.container-1{
    font-size: 19px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align:center;
    color: hsl(218, 44%, 22%);
    padding-left:30px;
    padding-right:30px;
    font-family:'Outfit', sans-serif;

}

.container-2{
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 25px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding-left:20px;
    padding-right:20px;
    font-family: 'Outfit', sans-serif;
}

